body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p, li, a {
    font-size: 18px;
}

a, a:visited {
    color: #1B70E0;
    text-decoration: none;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type=text], input[type=password], input[type=number] {
    line-height: 2.2em;
    width: 250px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 14px;
}

textarea {
    width: 260px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #dedede;
}

input[type=submit] {
    height: 35px;
    background-color: #8CB56B;
    border: none;
    width: 263px;
    border-radius: 4px;
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
}

form div {
    padding-bottom: 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 251, 221);
}

tbody tr {
    height: 30px
}

td {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

th {
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
    border-bottom: 1px solid #dedede;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#topnav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 55px;
    display: block;
    background-color: #212121;
    padding-top: 5px;
}

#topnav a {
    font-weight: 700;
    font-size: 2.1em;
}

#topnav a, #topnav a:visited {
    color: #dedede;
    text-decoration: none;
}

#navbuttons {
    float: right;
    padding-top: 10px;
}

#navbuttons a {
    font-size: 1.2em;
    margin-right: 15px;
}

#navbuttons a:last-child {
    margin-right: 0;
}

#monitorreports table {
    margin-bottom: 30px;
}