/* Pallet

Background: white
Nav bar: #212121
Text: #333
Links: #1b70e0
Borders: #cdcdcd
Buttons (success): #8CB56B
Buttons (failure): #E84A5F
Highlight (table rows): #E84A5F
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p, li, a {
    font-size: 18px;
}

a, a:visited {
    color: #1B70E0;
    text-decoration: none;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type=text], input[type=password], input[type=number], textarea {
    line-height: 2.2em;
    width: 250px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    height: 100px;
}

input[type=submit] {
    height: 35px;
    background-color: #8CB56B;
    border: none;
    width: 263px;
    border-radius: 4px;
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
}

form div {
    padding-bottom: 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 251, 221);
}

tbody tr {
    height: 30px
}

td {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

th {
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
    border-bottom: 1px solid #cdcdcd;
}

ul.linklist {
    list-style: none;
}

ul.linklist li {
    margin-bottom: 10px;
}

ul#errors, ul#successes {
    list-style: none;
    padding-left: 0;
}

ul#errors li {
    padding: 20px;
    background-color: rgb(255, 128, 144);
    margin-bottom: 20px;
}

ul#successes li {
    padding: 20px;
    background-color: rgb(200, 245, 164);
    margin-bottom: 20px;
}

div.reportsummary {
    margin-bottom: 30px;
    padding: 10px 15px;
    cursor: pointer;
}

div.reportsummary div.oneliner div.change {
    float: left;
    width: 20%;
}

div.reportsummary div.oneliner div.url {
    width: 80%;
}

div.moreinfo {
    font-size: 14px;
}

div.moreinfo div.row div.field {
    float: left;
    width: 20%;
}

div.moreinfo div.row div.value {
    width: 80%;
    float: right;
}

div.moreinfo div.row p:nth-child(1) {
    font-size: 14px;
}

div.moreinfo div.row p:nth-child(2) {
    background-color: rgb(245, 245, 245);
    font-size: 14px;
    margin-top: -5px;
    padding: 10px 20px;
    max-height: 100px;
    overflow: scroll;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#topnav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 55px;
    display: block;
    background-color: #1BB0CE;
    padding-top: 5px;
}

#topnav a {
    font-weight: 700;
    font-size: 2.1em;
}

#topnav a, #topnav a:visited {
    color: #fff;
    text-decoration: none;
}

#navbuttons {
    float: right;
    padding-top: 10px;
}

#navbuttons a {
    font-size: 1.2em;
    margin-right: 15px;
}

#navbuttons a:last-child {
    margin-right: 0;
}

#monitorreports table {
    margin-bottom: 30px;
}
 
#monitorreports table tbody tr:nth-child(even) {
    background-color: #fff;
}