<!DOCTYPE html>
<html>
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <div class="content">
      <h1>List of registered archivers</h1>
      <table>
        <thead>
          <tr>
            <th>Email Address</th>
            <th>Is An Administrator</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .Archivers}}
          <tr>
            <td>{{.Email}}</td>
            <td>{{.IsAdmin}}</td>
            <td>
              <form method="POST" action="/makeadmin">
                <input type="hidden" name="archiverID" value="{{.ID}}" />
                <a href="#" class="submitbtn">Make Admin</a>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>
