<!DOCTYPE html>
<html>
  <head>
    <title>Miru Website Monitor</title>
  </head>
  <body>
    <h1>Welcome to Miru!</h1>
    <p>
      Miru (見る) - to look, to see, to watch.
    </p>
    <p>
      Miru is a website monitoring tool for the <a href="https://github.com/edgi-govdata-archiving/">
      Government Data Archiving</a> project.  Miru works with a simple three-stage process.
      <ul>
        <li> You make a request to have a site monitored. </li>
        <li> An archiver reviews the request, telling the tool to start monitoring the site. </li>
        <li> Miru will then start to monitor the site for changes and inform archivers of updates. </li>
      </ul>
    </p>
  </body>
</html>
