<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    {{template "nav"}}
    <div class="content">
      <h1>Login</h1>
      <form method="POST" action="/archivers/login">
        <div>
          <label for="email">Email address</label>
          <input type="text" name="email" id="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div>
          <input type="submit" id="loginbutton" value="Login" />
        </div>
      </form>
    </div>
  </body>
</html>
