 <!DOCTYPE html>
<html>
  <head>
    <title>Miru Website Monitor</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Monitor ID</th>
        <th>Script Path</th>
        <th>Last Ran</th>
        <th>Site Change</th>
        <th>Checksum</th>
        <th>Message</th>
      </tr>
      {{range .Reports}}
      <tr>
        <td>{{.MonitorID}}</td>
        <td>{{.ScriptPath}}</td>
        <td>{{.LastRan}}</td>
        <td>{{.ChangeSignificance}}</td>
        <td>{{.Checksum}}</td>
        <td>{{.Message}}</td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
