 <!DOCTYPE html>
<html>
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <div class="content">
      <h1>Reports from monitors</h1>
      <div id="monitorreports">
        {{range .Reports}}
        <table class="report">
          <tbody>
            <tr class="field">
              <td class="reportkey">Monitor ID:</td>
              <td class="reportvalue">{{.MonitorID}}</td>
            </tr>
            <tr class="field">
              <td class="reportkey">Script path:</td>
              <td class="reportvalue">{{.ScriptPath}}</td>
            </tr>
            <tr class="field">
              <td class="reportkey">Last ran at:</td>
              <td class="reportvalue">{{.LastRan}}</td>
            </tr>
            <tr class="field">
              <td class="reportkey">Site change:</td>
              <td class="reportvalue">{{.ChangeSignificance}}</td>
            </tr>
            <tr class="field">
              <td class="reportkey">Checksum:</td>
              <td class="reportvalue">{{.Checksum}}</td>
            </tr>
            <tr class="field">
              <td class="reportkey">Message:</td>
              <td class="reportvalue">{{.Message}}</td>
            </tr>
          </tbody>
        </table>
        {{end}}
        <script src="/js/reports.js"></script>
      </div>
    </div>
  </body>
</html>
