<!DOCTYPE html>
<html>
  <head>
    <title>Miru Website Monitor</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Requested By</th>
        <th>Site Address</th>
        <th>Instructions Provided</th>
        <th></th>
        <th></th>
      </tr>
      {{range .Requests}}
      <tr>
        <td>{{.MadeBy}}</td>
        <td>{{.URL}}</td>
        <td>{{.Instructions}}</td>
        <td><a href="/monitor?id={{.RequestID}}">Approve</a></td>
        <td><a href="#" onclick="reject({{.RequestID}})">Reject</a></td>
      </tr>
      {{end}}
    </table>
    <script>
function reject(id) {
  alert('NOT IMPLEMENTED\nRejecting request ID: ' + id)
}
    </script>
  </body>
</html>
