<!DOCTYPE html>
<html>
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <div class="content">
      <h1>Pending monitor requests</h1>
      <table>
        <thead>
          <tr>
            <th>Requested By</th>
            <th>Site Address</th>
            <th>Instructions Provided</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .Requests}}
          <tr>
            <td>{{.MadeBy}}</td>
            <td>{{.URL}}</td>
            <td>{{.Instructions}}</td>
            <td><a href="/requests/fulfill?id={{.RequestID}}">Approve</a></td>
            <td>
              <form action="/requests/reject" method="POST">
                <input type="hidden" name="requestID" value="{{.RequestID}}" />
                <a href="#" class="submitbtn">Reject</a>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <script src="/js/requestlist.js"></script>
  </body>
</html>
