<!DOCTYPE html>
<html>
  {{template "head" .}}
  <body>
    {{template "nav" .}}
    <div class="content">
      <h1>Ask us to monitor a site</h1>
      <form method="POST" action="/request">
        <div>
          <label for="url">Website address</label>
          <input type="text" id="url" name="url" />
        </div>
        <div>
          <label for="instructions">Instructions to help us scrape the site</label>
          <textarea id="instructions" name="instructions" cols="80" rows="10"></textarea>
        </div>
        <div>
          <input type="submit" id="makerequest" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
