<!DOCTYPE html>
<html>
  <head>
    <title> Miru Website Monitor </title>
  </head>
  <body>
    <h1> Upload a new monitor script </h1>
    <form method="POST" action="/monitor" enctype="multipart/form-data">
      <div>
        <input type="file" name="script" id="newscript" />
      </div>
      <div>
        <select name="filetype">
          <option value="python" selected>Python</option>
          <option value="ruby">Ruby</option>
          <option value="perl">Perl</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Upload" id="uploadbutton" />
      </div>
    </form>
  </body>
</html>
